html {
    font-size: 16px;
}

h1 {
    color: hsl(0, 100%, 61%);
    background-color: whitesmoke;
    text-align: center;
    font-size: 3em;
    line-height: 2em;
}

.navigation {
    width: 100%;
    text-align: center;
    background-color: hsla(0, 100%, 61%, 60%);
    margin: 1em 0;
}

.navigation a {
    color: black;
    text-decoration: none;
    padding: 0 4%;
}