{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecondLife - About Us</title>
    <link rel="stylesheet" href="{% static 'resources/styles/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'resources/styles/aboutusstyles.css' %}" type="text/css">
</head>
<body>

<!-- Header information starts here -->
<header>
    <div class="banner"> Leftover SecondLife</div>
    <div class ="navigation">
        <nav>
            <span class ="nav1"> <a href= "index">Home</a></span>
            <span class="nav1"> <a href="popularRecipes">Popular Recipes </a></span>
            <span class="nav1"> <a href ="aboutUs">About Us</a></span>
            <span class="nav1"> <a href="login">Login</a></span>
    </div>

    </nav>
</header>

<!-- Main page information starts here -->
<main>
    <div class ="container">
        <div class ="teamMembers">
            <div class ="teamPic">
		    <img src="{% static 'resources/images/groupMemImg.jpg' %}" alt="">
            </div>
            <div class ="teamDesc">
                <h3>Name:
                Description: 
                </h3>
            </div>
        </div>
        <div class ="teamMembers">
            <div class ="teamPic">
		    <img src="{% static 'resources/images/groupMemImg.jpg' %}" alt="">
            </div>
            <div class ="teamDesc">
                <h3>Name:
                Description: 
                </h3>
            </div>
        </div>
        <div class ="teamMembers">
            <div class ="teamPic">
		    <img src="{% static 'resources/images/groupMemImg.jpg' %}" alt="">
            </div>
            <div class ="teamDesc">
                <h3>Name:
                Description: 
                </h3>
            </div>
        </div>
        <div class ="teamMembers">
            <div class ="teamPic">
		    <img src="{% static 'resources/images/groupMemImg.jpg' %}" alt="">
            </div>
            <div class ="teamDesc">
                <h3>Name:
                Description: 
                </h3>
            </div>
        </div>
    </div>



</main>
    

<!-- Website Footer information starts here -->
<footer>


</footer>

</body>
</html>
