{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecondLife - Popular Recipes</title>
    <link rel="stylesheet" href="{% static 'resources/styles/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'resources/styles/inventorystyles.css' %}" type="text/css">
</head>
<body>

<!-- Header information starts here -->
<header>
    <div class="banner"> Leftover SecondLife</div>
    <div class ="navigation">
        <nav>
            <span class ="nav1"> <a href="index">Home</a></span>
            <span class="nav1"> <a href="popularRecipes">Popular Recipes </a></span>
            <span class="nav1"> <a href ="aboutUs">About Us</a></span>
            <span class="nav1"> <a href="login">Login</a></span>
    </div>

    </nav>
</header>

<!-- Main page information starts here -->
<main>
    <h2>Inventory</h2>
    <div class = "container-holder">
	    <div class = "container">
		    <div class = "inside-box">
			    <h3>My Inventory</h3>
				
			    <table class="ricTable">
					{%for foo in ingredien%}
					{%if foo.user_name == n%}
					<tr>
					<td>{{foo.name}}</td><td>{{foo.quantity}}</td>
					</tr>
					{% endif %}
					{% endfor %}
			    </table>
		    </div>
	    </div>
    </div>
    <div class = "container-holder">
	    <div class="container">
	    	<div class = "inside-box">
    			<form method="POST">
                		{% csrf_token %}
                		<h3>Add a Inventory</h3>
                		<label>Food Name</label>
                		<input type="text" name="foodname" id="foodname"/>
                		<label>Quantity</label>
                		<input type="text" name="quant" id="quant"/>
                		<button type="submit">Submit</button>
     			</form>
	    	</div>
	    </div>
    </div>
     <!---
    <div class = "container-holder">
        <div class = "container">
            <div class ="inside-box">
		<form method="POST">
		<h3>Add a Inventory</h3>
		<label>Food Name</label>
		<input type="text" name="foodname" id="foodname"/>
		<label>Quantity</label>
		<input type="text" name="quant" id="quant"/>
		<button type="submit">Submit</button>
		</form>
		<label>Measurement</label>
		<select>
		<option value="grams">Grams</option>
		<option value=ounces">Ounces</option>
		</select>
            </div>
            <div>
        </div>
    </div>
    --->
</main>
    

<!-- Website Footer information starts here -->
<footer>


</footer>

</body>
</html>
