{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecondLife - Popular Recipes</title>
    <link rel="stylesheet" href="{% static 'resources/styles/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'resources/styles/inventorystyles.css' %}" type="text/css">
</head>
<body>

<!-- Header information starts here -->
<header>
    <div class="banner"> Leftover SecondLife</div>
    <div class ="navigation">
        <nav>
            <span class ="nav1"> <a href="index">Home</a></span>
            <span class="nav1"> <a href="popularRecipes">Popular Recipes </a></span>
            <span class="nav1"> <a href ="aboutUs">About Us</a></span>
            <span class="nav1"> <a href="login">Login</a></span>
    	</nav>
</header>


<!-- Main page information starts here -->
<main>
    <h2>Inventory</h2>
    <div class = "container-holder">
        <div class = "container">
		<div class="inventory">
	    {%for foo in ingredien%}
	    	{%if foo.user_name == n%}
            	<div class ="inside-box">
		    <h3>{{foo.name}}</h3> 
		    <p>{{foo.quantity}}</p>
           	</div>
	   	{% endif %}
	     {% endfor%}
		</div>
	     <br>
            <button type="button" onclick="window.location.href='index';">Generate Recipe From Inventory List</button>
	    	<button type="button" onclick="javascript:submitAdd();">Add Ingredient to Inventory</button>
            	<div class='AddFeature' name="addF" id="addF">
                	<br>
                	<label for="FoodNaming">Ingredient Name: </label>
                	<input name="FoodNaming" id= "FoodNaming" type="text">
                	<br>
                	<label for="Quant1"> Ingredient Quantity: </label>
                	<input name="Quant1" id="Quant1" type="text">
            	</div>
        </div>
    </div>
<form  name="addInventory" id="addInventory" method="POST">
	{%csrf_token%}
	<input type="hidden" name="foodname" id="foodname">
	<input type="hidden" name="quant" id="quant">
</form>
</main>

<script>
	function submitAdd()
	{
		document.addInventory.foodname.value = document.getElementById("FoodNaming").value;
		document.addInventory.quant.value = document.getElementById("Quant1").value;
		document.getElementById("addInventory").submit();
	}
</script>

<!-- Website Footer information starts here -->
<footer>


</footer>

</body>
</html>
