{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecondLife - Popular Recipes</title>
    <link rel="stylesheet" href="{% static 'resources/styles/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'resources/styles/inventorystyles.css' %}" type="text/css">
</head>
<body>

<!-- Header information starts here -->
<header>
    <div class="banner"> Leftover SecondLife</div>
    <div class ="navigation">
        <nav>
            <span class ="nav1"> <a href="index">Home</a></span>
            <span class="nav1"> <a href="popularRecipes">Popular Recipes </a></span>
            <span class="nav1"> <a href ="aboutUs">About Us</a></span>
            <span class="nav1"> <a href="login">Login</a></span>
    </div>

    </nav>
</header>

<!-- Main page information starts here -->
<main>
    <h2>Inventory</h2>
    <div class = "container-holder">
        <div class = "container">
            <div class ="inside-box">
                <h3>Box #1</h3>
            </div>
            <div class ="inside-box">
                <h3>Box #2</h3>
            </div>
            <div class ="inside-box">
                <h3>Box #3</h3>
            </div>
            <div class ="inside-box">
                <h3>Box #4</h3>
            </div>
            <div class ="inside-box">
                <h3>Box #5</h3>
            </div>
            <div class ="inside-box">
                <h3>Box #6</h3>
            </div>
        </div>
    </div>
</main>
    

<!-- Website Footer information starts here -->
<footer>


</footer>

</body>
</html>
