{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecondLife - Login</title>
    <link rel="stylesheet" href="{% static 'resources/styles/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'resources/styles/loginstyles.css' %}" type="text/css">
    <script src="{% static 'login.js' %}"></script>
</head>
<body>

<!-- Header information starts here -->
<header>
    <div class="banner"> Leftover SecondLife</div>
    <div class ="navigation">
        <nav>
            <span class ="nav1"> <a href="index">Home</a></span>
            <span class="nav1"> <a href="popularRecipes">Popular Recipes </a></span>
            <span class="nav1"> <a href ="aboutUs">About Us</a></span>
            <span class="nav1"> <a href="login">Login</a></span>
    </div>

    </nav>
</header>

<!-- Main page information starts here -->
<main>

</main>
<div class="container">
    <form action="index">
        <label for="">Username: </label>
        <input type="text" id ="username">
        <br>
        <label for="password">Password: </label>
        <input type="text" id ="password">
        <br>
        <input type="submit" value="Submit" onclick ="onSubmit()">
    </form>

</div>

<!-- Website Footer information starts here -->
<footer>


</footer>

</body>

</html>
