{%load static%}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecondLife - Popular Recipes</title>
    <link rel="stylesheet" href="{% static 'resources/styles/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'resources/styles/popularstyles.css' %}" type="text/css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>

<!-- Header information starts here -->
<header>
    <div class="banner"> Leftover SecondLife</div>
    <div class ="navigation">
        <nav>
            <span class ="nav1"> <a href= "index">Home</a></span>
            <span class="nav1"> <a href="popularRecipes">Popular Recipes </a></span>
            <span class="nav1"> <a href ="aboutUs">About Us</a></span>
            <span class="nav1"> <a href="login">Login</a></span>
    </div>

    </nav>
</header>

<!-- Main page information starts here -->


<!-- Start of Image Slider -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="7000">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
        </li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1">
        </li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2">
        </li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
	<div class="carousel-item active" style="background-image: url({% static '/resources/images/aboutUsBackgroundPic.jpg' %})">
            <div class="carousel-caption text-center">
                <h1>Recipe Name</h1>
                <h3>Short Description</h3>
                <a class="btn btn-outline-light btn-lg" href="#test">Link to Recipe</a>
            </div>
        </div>
        <!-- Slide 2 -->
        <div class="carousel-item" style="background-color:darkseagreen">
            <div class="carousel-caption text-center">
                <h1>Recipe Name</h1>
                <h3>Short Description</h3>
                <a class="btn btn-outline-light btn-lg" href="#test">Link to Recipe</a>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-color:cadetblue">
            <div class="carousel-caption text-center">
                <h1>Recipe Name</h1>
                <h3>Short Description</h3>
                <a class="btn btn-outline-light btn-lg" href="#test">Link to Recipe</a>
            </div>
        </div>
        <!-- End Carousel Inner -->

        <!-- Prev and Next Buttons -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>
<!-- End of image slider -->
<main>
    <div class="container">
        <p>Top Recipes for the Week!</p>
        <div class="recipeBox">

        </div>
        <div class="recipeBox">

        </div>
        <div class="recipeBox">

        </div>
        <div class="recipeBox">

        </div>
        <div class="recipeBox">

        </div>
        <div id="test" class="recipeBox">

        </div>
    </div>
    
</main>
    

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>


<!-- Website Footer information starts here -->
<footer>


</footer>

</body>
</html>
