{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecondLife - Search Recipes</title>
    <link rel="stylesheet" href="{% static 'resources/styles/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'resources/styles/popularstyles.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<!-- Header information starts here -->
<header>
    <div class="banner"> Leftover SecondLife</div>
    <div class ="navigation">
        <nav>
            <span class ="nav1"> <a href= "index">Home</a></span>
            <span class="nav1"> <a href="popularRecipes">Search Recipes</a></span>
            <span class="nav1"> <a href ="aboutUs">About Us</a></span>
            <span class="nav1"> <a href="login">Login</a></span>
    </div>

    </nav>
</header>


<!-- Main page information starts here -->
<br>

<main>
    <!-- Search box starts here -->
    <p>Input ingredients to search for a recipe here</p>
    <div class="container">
	<form method="POST">
	{%csrf_token%}
        <input type="text" name="searchVal" id="searchVal" placeholder="Find a recipe">
	<input type="submit" value="Search">
        <br>
        <input type="checkbox" id="vegan" value="vegan" name="diet" onclick="getVal()">
        <label for="vegan">Vegan</label>
        <br>
        <input type="checkbox" id="vegetarian" value="vegetarian" name="diet" onclick="getVal()">
        <label for="vegetarian">Vegetarian</label>
        <br>
        <input type="checkbox" id="gluten free" value="gluten free" name="diet" onclick="getVal()">
        <label for="gluten free">Gluten free</label>
        <br>
        <input type="checkbox" id="dairy free" value="dairy free" name="diet" onclick="getVal()">
        <label for="dairy free">Dairy free</label>
	</form>
    </div>
    <br> 

</main>

<!-- Start of Image Slider -->
<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" data-interval="7000">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
        </li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1">
        </li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2">
        </li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3">
        </li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4">
        </li>

    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Slide 1 -->
	{% for link in links  %}
	{% if link.count == 0 %}
	<div class="carousel-item active" style="background-image: url({% static 'resources/images/aboutUsBackgroundPic.jpg' %})">
            <div class="carousel-caption text-center">
		    <h3>{{ link.name }}</h3>
		<img src="{{link.img}}">
		<br>
		<a class="btn btn-outline-light btn-lg" href={{link.url|linebreaksbr}}>Link to Recipe</a> 
            </div>
        </div>
	{% else%}
        <div class="carousel-item" style="background-image: url({% static 'resources/images/aboutUsBackgroundPic.jpg' %})">
            <div class="carousel-caption text-center">
		    <h3>{{link.name}}</h3>
		    <img src="{{link.img}}">
		    <br>
                <a class="btn btn-outline-light btn-lg" href={{link.url|linebreaksbr}}>Link to Recipe</a>
            </div>
        </div>
	{% endif %}
	{% endfor %}
        <!-- Slide 2 -->
        <!-- <div class="carousel-item" style="background-color:darkseagreen">
            <div class="carousel-caption text-center">
                <h1>Recipe Name</h1>
                <h3>Short Description</h3>
                <a class="btn btn-outline-light btn-lg" href="#test">Link to Recipe</a>
            </div>
	</div>-->

        <!-- Slide 3 -->
       <!-- <div class="carousel-item" style="background-color:cadetblue">
            <div class="carousel-caption text-center">
                <h1>Recipe Name</h1>
                <h3>Short Description</h3>
                <a class="btn btn-outline-light btn-lg" href="#test">Link to Recipe</a>
            </div>
       </div>-->
        <!-- End Carousel Inner -->

	<!-- Prev and Next Buttons -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>
<!-- End of image slider -->



<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

<script>
    function getVal(){
    var val = document.getElementsByName("diet");
    // let boxStr = document.getElementById("searchVal").value;
        for(let i = 0; i < val.length; i++) {
            if(val[i].checked){
                console.log("hey");
		let str = document.getElementById("searchVal").value;
		if(!(str.includes(val[i].value)))
		    {
               		 document.getElementById("searchVal").value = document.getElementById("searchVal").value + "," + val[i].value;
		    }
            }
            if(!val[i].checked){
                let str = val[i].value;
                document.getElementById("searchVal").value = document.getElementById("searchVal").value.replace("," + str, "");
            }
        }
    }
</script>

<!-- Website Footer information starts here -->
<footer>


</footer>

</body>
</html>
