{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecondLife - Login</title>
    <link rel="stylesheet" href="{% static 'resources/styles/styles.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'resources/styles/loginstyles.css' %}" type="text/css">
    <script src="login.js"></script>
</head>
<body>

<!-- Header information starts here -->
<header>
    <div class="banner"> Leftover SecondLife</div>
    <div class ="navigation">
        <nav>
            <span class ="nav1"> <a href= "index">Home</a></span>
            <span class="nav1"> <a href="popularRecipes">Search Recipes </a></span>
            <span class="nav1"> <a href ="aboutUs">About Us</a></span>
            <span class="nav1"> <a href="login">Login</a></span>
    </div>

    </nav>
</header>

<!-- Main page information starts here -->
<main>

</main>
    <form  method="POST">
	{% csrf_token %}
        <div class="img-container">
		<img src="{% static 'resources/images/avatarpgn.png' %}" alt="">
        </div>
        <div class="container">
	{% for field in form %}
      	<p>
        {{ field.label_tag }}<br>
        {{ field }}
	{% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      	</p>
      	{% endfor %}
        <!---    
	<label for="username">Username: <br> </label>
            
            <br>
            <label for="password">Password: <br></label>
            
            <br>
	    --->
            <input type="submit" name="submitBtn" value="Register">
        </div>
    </form>


<!-- Website Footer information starts here -->
<footer>


</footer>

</body>
</html>
